/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";

body{
    padding-top: 3.7rem;
}

.footer {    
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
    text-align: center;
}

.general-form .example-full-width, .general-form .select-options{
    width: 100%;
    text-align: left;
}
.select2-container--default{width: 100% !important;}

#book .single-img img{
    width: 100%;
    height: 600px;
    /*object-fit: cover;*/
}

#book .content{
    background: #009DE2;
    padding: 20px;
    color: #fff;
    position: relative;
}
#book .content h1{
    font-size: 2.8rem;
    line-height: 3rem;
    margin-bottom: 15px;
    text-transform: capitalize;
}
#book .content h3{
    font-size: 2.4rem;
    line-height: 2.6rem;
    text-transform: capitalize;
}

#book .content p{
    font-size: 1.2rem;
    line-height: 1.4rem;
    margin-bottom: 40px;
}

#book .content .single-item__tags {
    font-size: 1.2rem;
    margin-bottom: 20px;
    
}

#book .single-item-info{
    position: relative;
}

#book .single-item-info::before{
    content: '';
    background: linear-gradient(to top, #009de2 , transparent);
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: -12em;
}
#grid-book .img-content{
    height: 250px;
    position: relative;
    margin-bottom: 15px;
}
#grid-book .img-content img{
    height: 250px;
    width: 100%;
}
#grid-book .img-content .title-book{
    position: absolute;
    color: #fff;
    top: 0;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    text-transform: capitalize;
    margin: 20px 0;
    padding: 0 10px;
}
#grid-book .img-content:hover .descrip-book-hover {
    display: block;    
}
#grid-book .descrip-book-hover{
    background-color:rgba(4,4,4,0.5);
    position: absolute;
    width: 100%;
    display: none;
    top: 0;
    height: 100%;
    text-align: center;
    color: #fff;
    padding: 10px;
}
#grid-book .descrip-book-hover h5, .descrip-book-hover h5{
    text-transform: capitalize;
}
#grid-book .descrip-book-hover h5{
    margin: 10px 0 25px;
}
#grid-book .descrip-book-hover p{
    line-height: normal;
    font-weight: normal;
    font-size: 13px;
    margin: 15px 0 0;
}

#grid-book .descrip-book-hover a{
    text-decoration: underline;
    cursor: pointer;
    color: #fff;
}
#grid-book .descrip-book-hover i{
    vertical-align: middle;
    font-size: 20px;
}

#library {
    background: url('assets/img/BackBiblioteca.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 50px 0 40px;
}