<div class="container">
    <section class="" style="margin-top: 20px;">
            <form class="example-form">
                <table class="table table-bordered table-hover text-center" border="0">
                <thead>
                    <th class="text-center">°</th>
                    <th class="text-center">title</th>
                    <th class="text-center">description</th>
                    <th class="text-center">cover_page</th>
                    <th class="text-center">author</th>  
                    <th class="text-center">type</th>                  
                </thead>
                <tbody>
                    <tr *ngFor="let book of bookService.bookList">
                    <td>
                        <md-checkbox></md-checkbox>
                    </td>
                    <td>
                        {{book.title}}
                    </td>
                    <td>
                        {{book.description}}
                    </td>
                    <td> 
                        <img src="http://biblioteca.confa.co:8181{{book.cover_page}}" class="img-reponsive" width="100" height="100">                                                  
                    </td>
                    <td>
                        {{book.author}}
                    </td>
                    <td>
                        {{ getTypeBook[book.type] }}
                    </td>
                    </tr>
                </tbody>                
                </table>
            </form>
            </section>
    <!--<app-show></app-show>-->
    <app-new></app-new>
</div>

