<section class="" id="library">
    <div class="container">  
        <div class="row" id="grid-book">
            <div class="col-sm-6 col-md-3 col-xs-6" *ngFor="let book of bookService.bookList">
                <div class="img-content">
                    <img src="{{bookService.urlService}}{{book.cover_page}}" alt="">
                    <div class="title-book text-center">
                        <h5>{{book.title | truncate : 40 : "…"}}</h5>                        
                    </div>
                    <div class="descrip-book-hover">
                        <h5>{{book.title | truncate : 40 : "…"}}</h5>
                        <h5>{{book.author | truncate : 40 : "…"}}</h5>                          
                        <p>{{ book.description | truncate : 120 : "…" }}</p>
                        <a class="javascript:void" (click)="detailBook(book.id)" data-toggle="modal" data-target="#detailModalBook"><i class="material-icons">book</i> libro</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="detailModalBook" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <!--<h4 class="modal-title" id="myModalLabel">Modal title</h4>-->
                    </div>
                    <div class="modal-body">
                        <div class="" id="book">                            
                            <div class="row" *ngIf="bookDetail != undefined">
                                <div class="col-md-12">
                                    <div class="row">
                                    <div class="col-md-12 text-center single-img">
                                        <img src="{{bookService.urlService}}{{bookDetail.cover_page}}" class="img-reponsive">
                                    </div>
                                    </div>
                                    <div class="row">
                                    <div class="col-md-12 ">
                                        <div class="single-item-info">
                                            <div class="content">
                                                <h1>
                                                {{ bookDetail.title }}
                                                </h1>
                                                <h3>
                                                    {{bookDetail.author}}
                                                </h3>
                                                <h5 class="single-item__themes">
                                                    <strong>Temas:</strong>
                                                    {{themes_By_Book}}
                                                </h5>
                                                <p>
                                                    {{bookDetail.description}}
                                                </p>
                                                <div class="single-item__tags">
                                                <strong>Tags:</strong>
                                                {{ bookDetail.keywords }}
                                                </div>
                                                <div class="book-reader">
                                                    <a href="{{bookService.urlService}}{{bookDetail.book_location}}" download style="color: #fff;" title="Descargar"><i class="material-icons" style="vertical-align: bottom;">backup</i></a>                                                    
                                                    <a *ngIf="bookDetail.type == '1'" href="{{bookService.urlService}}{{bookDetail.book_location}}" style="color: #fff;margin: 0 10px;" title="Empezar a leer" onclick="window.open(this.href, 'mywin', 'left=20,top=20,width=900,height=900,toolbar=1,resizable=0'); return false;" ><i class="material-icons" style="vertical-align: sub;">book</i> Empezar a leer</a>
                                                    <a *ngIf="bookDetail.type == '2'" href="{{bookDetail.link}}" style="color: #fff;margin: 0 10px;" title="Empezar a leer" onclick="window.open(this.href, 'mywin', 'left=20,top=20,width=900,height=900,toolbar=1,resizable=0'); return false;" ><i class="material-icons" style="vertical-align: sub;">book</i> Empezar a leer</a>
                                                </div>                                                
                                            </div> 
                                        </div>                           
                                    </div>
                                    </div>        
                                </div>
                            </div>
                        </div> 
                                                                  
                    </div>
                    <!--<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                    </div>-->
                </div>
            </div>
        </div>  
    </div>         
</section>
<app-new></app-new>


