<div class="container">    
    <section class="" style="margin-top: 20px;">
        <div class="row" id="grid-book">
            <div class="col-sm-3" *ngFor="let book of bookService.bookList">
                <div class="img-content">
                    <img src="http://biblioteca.confa.co:8181{{book.cover_page}}" alt="">
                    <div class="title-book text-center">
                        <h4>{{book.title}}</h4>                        
                    </div>
                    <div class="descrip-book-hover">
                        <h5>{{book.title}}</h5>
                        <h5>{{book.author}}</h5>                          
                        <p>{{ book.description | truncate : 120 : "…" }}</p>
                        <a class="" href="books/show/{{book.id}}">Ver libro</a>
                    </div>
                </div>
            </div>
        </div>
            <!--<form class="example-form">
                <table class="table table-bordered table-hover text-center" border="0">
                <thead>
                    <th class="text-center">°</th>
                    <th class="text-center">Title</th>
                    <th class="text-center">Description</th>
                    <th class="text-center">Cover_page</th>
                    <th class="text-center">Author</th>  
                    <th class="text-center">Keywords</th>                  
                </thead>
                <tbody>
                    <tr *ngFor="let book of bookService.bookList">
                    <td>
                        <md-checkbox></md-checkbox>
                    </td>
                    <td>                                  
                        <a class="" href="books/show/{{book.id}}">{{book.title}}</a>                        
                    </td>
                    <td>
                        {{book.description}}
                    </td>
                    <td> 
                        <img src="http://biblioteca.confa.co:8181{{book.cover_page}}" class="img-reponsive" width="100" height="100">
                    </td>
                    <td>
                        {{book.author}}
                    </td>
                    <td>
                        {{ book.keywords }}
                    </td>
                    </tr>
                </tbody>                
                </table>
            </form>-->
            </section>
    <app-new></app-new>
</div>

